@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
#button {
  display: inline-block;
  background-color: #ff9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "^";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

.logo-container {
  display: flex;
  width: 188px;
  margin-left: 16px;
}
.btn-search {
  padding: 25px;
}
.word-logo {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  color: white;
  margin-left: 27px;
}
.nav-menu-header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #313131;
  position: sticky;
  top: 0;
}
.menu-header-list {
  display: flex;
}
.menu-header-element {
  padding: 25px 35px 25px 0px;
}

.menu-header-link {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  transition: color 0.3s ease-in-out 0.1s;
}
.menu-header-link:hover {
  color: #14b9d5;
}
.search-btn-container {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
}
.banner-top {
  background-image: url("../img/header-background.png");
  height: 369px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.title-banner {
  font-family: "Open Sans", sans-serif;
  font-size: 27px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  text-align: center;
  padding-top: 163px;
}
.ul-subscribe-best-articles-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 44px;
}

.button-link {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: white;
  width: 170px;
  height: 55px;
  padding: 16px 19px;
  background-color: #89ca62;
  border-radius: 4px;
}
.best-articles {
  margin-left: 20px;
  background-color: #14b9d5;
  padding: 17px 30px;
}
.most-popular-posts {
  background-color: #f2f2f2;
}
.most-popular-posts h2:first-child {
  padding-top: 49px;
}
.section-title {
  font-size: 27px;
  font-family: "Open Sans", sans-serif;
  color: #18b4cf;
  text-transform: uppercase;
  text-align: center;
}
.popular-posts-list {
  margin: 52px auto 0px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 1170px;
  justify-content: flex-start;
  height: 900px;
  align-items: center;
}
.popular-posts-element {
  background-color: white;
  height: auto;
}
.second-post {
  margin-top: 50px;
}
.third-post {
  margin-top: 32px;
}
.last-post {
  margin-top: 32px;
}

.post-description {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  padding: 20px 16px 22px 14px;
  text-align: center;
  background-color: white;
  width: inherit;
}

.banner-popular-clients {
  background-image: url("../img/Layer41.png");
  height: 588px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.popular-clients::after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #18b4cf;
  border-radius: 3px;
  margin: 87px auto 0px auto;
  display: block;
}

.brand-grid-container {
  display: grid;
  width: 881px;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 58px;
  margin: 100px auto 0px auto;
}
.popular-clients {
  font-size: 32px;
  text-transform: uppercase;
  line-height: 44px;
  padding-top: 108px;
}
.top-rated {
  padding: 53px 0px 52px 0px;
}
.top-rated-pictures-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(271px, 1fr));
}
.hot-news {
  padding: 48px 0px 51px 0px;
}
.grid-container-images {
  width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "post-1 post-1 post-1 post-2"
    "post-3 post-3 post-4 post-4"
    "post-5 post-5 post-6 post-6"
    "post-7 post-8 post-8 post-8";
  /* grid-template-rows:repeat(4, 1fr); */
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 43px;
  padding-bottom: 77px;
}
.grid-item {
  background-color: #f9f7f7;
}
.first-and-last-title {
  padding-top: 38px;
}
.first-and-last-subtitle {
  padding-right: 24px;
  padding-left: 15px;
}

.small-post-title {
  padding: 14px 27px 11px;
}
.grid-container-title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #353a3d;
  text-align: center;
}
.grid-container-subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  color: #5b6469;
}
.middle-post {
  display: flex;
  flex-direction: column;
}
.middle-title {
  padding-top: 12px;
  padding-right: 14px;
  padding-bottom: 15px;
  text-align: right;
}
.middle-subtitle {
  padding-right: 24px;
  padding-bottom: 40px;
  text-align: right;
}
.title-and-subtitle {
  display: flex;
  flex-direction: column;
}
.post-1 {
  grid-area: post-1;
  display: flex;
  height: 259px;
}
.post-2 {
  grid-area: post-2;
  height: 259px;
}
.post-3 {
  grid-area: post-3;
  height: 416px;
  text-align: right;
}
.post-4 {
  grid-area: post-4;
  height: 416px;
}
.post-5 {
  grid-area: post-5;
  height: 416px;
}
.post-6 {
  grid-area: post-6;
  height: 416px;
}
.post-7 {
  grid-area: post-7;
  height: 259px;
}
.post-8 {
  grid-area: post-8;
  display: flex;
  height: 259px;
}
.main-footer {
  background-color: black;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  font-style: normal;
}
.footer-logo {
  margin-left: 559px;
  padding: 29px 0px 26px 0px;
}
